@model Bloggie.Web.Models.ViewModels.UserviewModel
@{
}


<div class="bg-secondary bg-opacity-10 py-2">
    <div class="container">

        <h1>
            
            Users

        </h1>

    </div>

</div>

<div>
    <div class="container">

        @if(Model.Users!=null||Model.Users.Any())
        {
            <table class="table">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>UserName</th>
                        <th>Email</th>
                    </tr>

                </thead>
                <tbody>
                    @foreach (var user in Model.Users)
                    {
                        <tr>
                            <td>@user.Id</td>
                            <td>@user.UserName</td>
                            <td>@user.Email</td>
                        </tr>
                    }

                </tbody>
            </table>

        }
        else
        {
            <p> No Users Found!</p>
        }

        

    </div>
</div>